<nav class="navbar">
    {% for item in primaryMenu.items %}
        <div class="menu-item-submenu">
            <a class="menu-item {{ item.classes|join(' ') }}"
               href="{{ item.link }}" title="{{ item.title }}">
                <i class="fas fa-chevron-right lg:hidden"></i>
               {{ item.name }}
            </a>

            {% if item.children %}
                <div class="submenu">
                    <ul>
                        {% for child in item.children %}
                            <li>
                                <a href="{{ child.link }}" title="{{ child.title }}">
                                    {{ child.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="menu-item-submenu lg:hidden">
        <a class="menu-item"
           href="" title="Winkelmand">
            <i class="fas fa-user lg:hidden"></i>
            Account
        </a>
    </div>

    <div class="menu-item-submenu lg:hidden font-bold">
        <a class="menu-item"
           href="" title="Winkelmand">
            <i class="fas fa-shopping-cart lg:hidden"></i>
            Wijnmandje
        </a>
    </div>
</nav>
