{% if stramien_large %}
    {% if title %}
        <h2 class="bg-primary text-2xl text-white py-2 text-center md:hidden">{{ title }}</h2>
    {% endif %}
    <section class="products-large container mx-auto p-4 lg:px-0 {{ attributes.className }}">
        {% if kiyoh %}
            <article class="product-card-large">
                <a href="{{ kiyoh.kiyoh_url }}" class="product-large-image-wrapper" title="Beoordeel ons op Kiyoh">
                    <img src="{{ theme.link }}/dist/images/kiyoh.png">
                </a>
                <h2 class="product-large-title">
                    <a style="display: flex;flex-direction: column;justify-content: center;" href="{{ kiyoh.kiyoh_url }}" title="Beoordeel ons op Kiyoh">
                        <span class="kiyoh-score">{{ kiyoh.total_score }}</span>
                        <span class="block">
                        {{ kiyoh.total_reviews }} Beoordelingen
                    </span>
                    </a>
                </h2>
            </article>
            {% for product in posts|slice(0, -1) %}
                {{ include('partials/tease/product-large.html.twig', { product:product }) }}
            {% endfor %}
        {% else %}
            {% for product in posts %}
                {{ include('partials/tease/product-large.html.twig', { product:product }) }}
            {% endfor %}
        {% endif %}

        {% if title and link %}
            <a href="{{ link }}" class="products-large-cta">
                <h3>{{ title }} <i class="fas fa-chevron-right"></i></h3>
            </a>
        {% endif %}
    </section>
{% else %}
    {% if title %}
        <h2 class="bg-primary text-2xl text-white py-2 text-center">{{ title }}</h2>
    {% endif %}
    <section class="products container mx-auto p-4 lg:px-0 {{ attributes.className }}">
        {% for product in posts %}
            {% include 'partials/tease/product.twig' with { product: product } only %}
        {% endfor %}
    </section>
{% endif %}

