{% set _product = fn('wc_get_product', product.ID) %}
{% set _name = _product.get_name %}
{% set _permalink = _product.get_permalink %}
{% from 'macro/add-to-cart.twig' import add_to_cart %}

<article class="product-card-large">
    <span class="product-label" hidden>Aanbieding</span>
    <a href="{{ _permalink }}" class="product-large-image-wrapper" title="Bekijk {{ _name }}">
        <img
            alt="{{ product.thumbnail.alt }}"
            class="product-large-image"
            src="{{ product.thumbnail.src('medium') }}" />
    </a>
    <h2 class="product-large-title">
        <a href="{{ _permalink }}" title="{{ _name }}">
            {{ _name }}
        </a>
    </h2>
    <a href="{{ _permalink }}" class="product-large-price">
        &euro; {{ _product.get_price }}
    </a>

    {{ add_to_cart(product.ID, 'mx-auto product-large-add-to-cart', 'qty', 'small') }}
</article>
