{% from 'macro/typography/titles.macro.twig' import footer_heading_small %}
<address class="lg:w-1/4 addressInfo">
    {{ footer_heading_small('Contact') }}
    <p class="mb-2">{{ __('%s is een webshop van:')|format(site.name) }}</p>
    <p>Casa del Vino Amsterdam</p>
    <p>{{ theme.theme_mod('address', 'Lauriergracht 54BG <br> (afhalen op afspraak)')}}</p>
    <p>{{ theme.theme_mod('postalcode', '1016RL')}} {{ theme.theme_mod('city', 'Amsterdam')}}</p>
    <p>Telefoon: <a href="tel:{{ theme.theme_mod('phone', '020-2614758') }}">{{ theme.theme_mod('phone', '020-2614758')}}</a></p>
    <p>Email: <a href="mailto:{{ theme.theme_mod('email', 'info@postwijnen.nl') }}">{{ theme.theme_mod('email', 'info@postwijnen.nl')}}</a></p>
</address>
