{% extends 'base/app.twig' %}
{% from "macro/add-to-cart.twig" import add_to_cart %}

{% block content %}
    {% do action('woocommerce_before_single_product') %}
    <main class="product container mx-auto">
        <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt }}" class="product-image" />

        <h1 class="product-title">{{ post.title }}</h1>

        <section class="product-attributes">
            <p class="product-attributes_category">Categorie: {{ fn('wc_get_product_category_list', post.ID) }}</p>
        </section>

        <span class="product-price">
            &euro; {{ product.get_price }}
            <small class="product-price_small">per fles</small>
        </span>

        <section class="product-content">
            {{ post.content }}
        </section>

        {{ add_to_cart(product.get_id, 'product-form') }}
    </main>

    {{ add_to_cart(product.get_id, 'product-add-to-cart-container', 'qty') }}
{% endblock %}
