{% extends 'base/app.twig' %}
{% from "macro/add-to-cart.twig" import add_to_cart %}
{% from "macro/std.macro.twig" import productSTD as std %}
{% from "macro/products/images.macro.twig" import product_image as thumbnail %}

{% block content %}
    {% do action('woocommerce_before_single_product') %}
    <main class="product container mx-auto">
        {{ thumbnail(post) }}

        <h1 class="product-title">{{ post.get_title }}</h1>

        {% include 'partials/woocommerce/product/attributes.html.twig' %}

        <aside class="product_sidebar">
            <span class="product-price">
                {{ product.get_price_html }}
                <small class="product-price_small" hidden>per fles</small>
                {{ add_to_cart(product.get_id, 'product-form') }}
            </span>
            {{ include('partials/woocommerce/product/usp.html.twig', { product: product }) }}
        </aside>

        <section class="product-content">{{ post.content }}</section>
    </main>

    <section class="mt-4">
        {% if stramien_large %}
            <div class="container mx-auto">
                <h4 class="text-xl">Gerelateerde producten</h4>
            </div>
            {% include 'partials/blocks/products.twig' with { posts: related_products, stramien_large: stramien_large } only %}
        {% else %}
            {% include 'partials/blocks/products.twig' with { posts: related_products, title: 'Gerelateerde producten' } only %}
        {% endif %}
    </section>
    {{ std(product, post) }}

    {{ add_to_cart(product.get_id, 'product-add-to-cart-container', 'qty-mob') }}
{% endblock %}
