{% extends 'base/app.twig' %}
{% from "macro/add-to-cart.twig" import add_to_cart %}

{% block content %}
    {% do action('woocommerce_before_single_product') %}
    <main class="product container mx-auto">
        <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt }}" class="product-image" />

        <h1 class="product-title">{{ post.title }}</h1>

        <section class="product-attributes">
            <span class="content">
                <h3 class="mb-2">Kenmerken</h3>
            </span>
            <p class="product-attributes_category">Categorie: {{ fn('wc_get_product_category_list', post.ID) }}</p>
            {% for attribute in product.get_attributes %}
                {% if attribute.get_visible %}
                    {% set _attributes = fn('get_the_terms', post.ID, attribute.get_name) %}
                    <p class="product-attributes_{{ attribute.get_name|replace({'pa_': ''}) }}">
                        {{ attribute.get_name|replace({'pa_': ''})|capitalize }}:
                        {% for _attribute in _attributes %}
                            <span data-attribute="{{ attribute.get_name|replace({'pa_': ''}) }}" data-value="{{ _attribute.slug }}">{{ _attribute.name }}{% if not loop.last %},{% endif %} </span>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
        </section>

        <aside class="product_sidebar">

        <span class="product-price">
            &euro; {{ product.get_price }}
            <small class="product-price_small" hidden>per fles</small>
            {{ add_to_cart(product.get_id, 'product-form') }}
        </span>
            <table class="w-full">
                {% for usp in theme.theme_mod('product_usp') %}
                    <tr>
                        <td class="text-center"><i class="{{ usp.icon }} text-xl text-primary"></i></td>
                        <td>{{ usp.usp_title }}</td>
                    </tr>
                {% endfor %}
            </table>
        </aside>

        <section class="product-content">
            {{ post.content }}
        </section>


    </main>

    <section class="mt-4">
        {% include 'partials/blocks/products.twig' with { posts: related_products, title: 'Gerelateerde producten' } only %}
    </section>

    {{ add_to_cart(product.get_id, 'product-add-to-cart-container', 'qty') }}
{% endblock %}
