{% from "macro/sites.twig" import sites_list %}

<footer role="group" class="footer">
    <div role="group" class="container content mx-auto my-4">
        <div role="group" class="lg:flex seo_small px-4 lg:px-0 mb-4">
            <section class="lg:w-1/4 hidden lg:block">
                <h4>{{ theme.theme_mod('shop_list_title', 'Onze winkels')}}</h4>
                <div class="flex flex-col">
                    {{ theme.theme_mod('shop_list') }}
                </div>
            </section>
            <section class="lg:w-1/4 shortened-list">
                <h4>{{ theme.theme_mod('domain_list_title', 'Onze wijnhuizen')}}</h4>
                {{ theme.theme_mod('domain_list') }}
            </section>
            <section class="lg:w-1/4 shortened-list">
                <h4>{{ theme.theme_mod('grapes_list_title', 'Druiven') }}</h4>
                {{ theme.theme_mod('grapes_list') }}
            </section>
            <section class="lg:w-1/4 shortened-list">
                <h4>{{ theme.theme_mod('regions_list_titel', 'Al onze regio\'s') }}</h4>
                {{ theme.theme_mod('regions_list') }}
            </section>
        </div>

        <section role="complementary" class="content px-4 lg:px-0 seo_large" id="seo_large_{{ post.ID }}">
            {{ theme.theme_mod('seo_large')|wpautop }}
        </section>

        <section role="complementary" class="content px-4 lg:px-0">
            {% include 'partials/layout/form-mailchimp.html.twig' %}
        </section>
    </div>

    <div class="bg-primary text-white py-6 px-4 lg:px-0">
        <div role="group" class="container mx-auto lg:flex">
            <address class="lg:w-1/4 addressInfo">
                <strong>Contact</strong>
                <p class="mb-2">
                    {{
                        __('%s is een webshop van:')|format(site.name)
                    }}
                </p>
                <p>Postwijnen.nl</p>
                <p>{{ theme.theme_mod('address', 'Lauriergracht 54BG <br> (afhalen op afspraak)')}}</p>
                <p>{{ theme.theme_mod('postalcode', '1016RL')}} {{ theme.theme_mod('city', 'Amsterdam')}}</p>
                <p>Telefoon: <a href="tel:{{ theme.theme_mod('phone', '020-2614758') }}">{{ theme.theme_mod('phone', '020-2614758')}}</a></p>
                <p>Email: <a href="mailto:{{ theme.theme_mod('email', 'info@postwijnen.nl') }}">{{ theme.theme_mod('email', 'info@postwijnen.nl')}}</a></p>
            </address>
            <nav role="navigation" class="lg:w-1/4 flex flex-col menu">
                <strong>Meer informatie</strong>
                {% for item in footerMenu.items %}
                    <a
                            class="menuitem"
                            href="{{ item.link }}"
                            target="_self"
                            title="{{ item.title }}"
                            role="navigation"
                    >
                        {{ item.title }}
                    </a>
                {% endfor %}
            </nav>
            <aside role="complementary" class="nix-block lg:w-1/4">
                {% if theme.theme_mod('no_alcohol') %}
                    {{ theme.theme_mod('no_alcohol')|wpautop }}
                {% else %}
                    <strong>&lt; 18 geen alcohol</strong>
                    <img src="{{ theme.link }}/dist/images/nix18.png" alt="NIX18" class="nix-18-logo">
                    <strong class="block mt-8">Veilig betalen</strong>
                    {% include 'partials/layout/secure_pay.twig' %}
                {% endif %}
            </aside>
            <aside role="complementary" class="benefits-block lg:w-1/4">
                {% if theme.theme_mod('benefits') %}
                    {{ theme.theme_mod('benefits')|wpautop }}
                {% else %}
                    <strong>Voordelen</strong>
                    <ul class="list-disc">
                        <li>Groot assortiment wijnen op voorraad</li>
                        <li>Per fles te bestellen</li>
                        <li>Gratis verzending vanaf €50,- (NL)</li>
                        <li>Gratis verzending vanaf € 100,- (BE)</li>
                        <li>Snel bezorgd via PostNL</li>
                        <li>Proefgarantie</li>
                        <li>Ophalen in Amsterdam mogelijk</li>
                    </ul>
                {% endif %}
            </aside>
        </div>
    </div>
</footer>
<div class="widget_shopping_cart_content"></div>

<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600&display=swap" rel="stylesheet">
<script src="{{ theme.link }}/dist/scripts/app.js" defer></script>
