<meta charset="{{ site.charset }}">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ wp_title }}</title>

<meta name="description" content="{{ site.description }}">
<meta name="base_assets" content="{{ theme.link }}/">

<script src="https://kit.fontawesome.com/945889d7f9.js"></script>

<link rel="stylesheet" type="text/css" href="{{ theme.link }}/dist/styles/app.css">

<!-- start custom theme code -->
<script>
    {{ theme.theme_mod('code_header_js')|raw }}
</script>

<style type="text/css">
    {{ theme.theme_mod('code_header_css')|raw }}
</style>

{{ theme.theme_mod('code_header_html')|raw }}
<!-- end custom theme code -->
