<meta charset="{{ site.charset }}">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ wp_title }}</title>

<meta name="description" content="{{ site.description }}">

{#<script src="{{ theme.link }}/dist/vue/app.js" defer></script>#}
{#<script src="{{ theme.link }}/dist/js/main.js" defer></script>#}
<script src="https://kit.fontawesome.com/945889d7f9.js"></script>

{#<meta name="ck_token" content="{{ theme.theme_mod('ck_woocommerce') }}">#}
{#<meta name="cs_token" content="{{ theme.theme_mod('cs_woocommerce') }}">#}
{#<meta name="theme-color" content="{{ theme.theme_mod('theme_color') }}">#}

<!-- start custom theme code -->
<script>
    {{ theme.theme_mod('code_header_js')|raw }}
</script>

<style type="text/css">
    {{ theme.theme_mod('code_header_css')|raw }}
</style>

{{ theme.theme_mod('code_header_html')|raw }}
<!-- end custom theme code -->