<header class="header" role="banner">
    <div class="container mx-auto">
        <button role="button" class="js-menu-open lg:bulbed">
            <i class="fas fa-store"></i>
        </button>

        <nav class="top-navigation" role="navigation">
            <a href="{{ fn('get_permalink', fn('get_option', 'woocommerce_myaccount_page_id')) }}" class="top-nav-item lg:bulbed"><i class="fas fa-user"></i></a>

            <a href="{{ fn('wc_get_cart_url') }}" class="top-nav-item lg:bulbed"><i class="fas fa-shopping-basket"></i></a>
        </nav>
    </div>
</header>

<nav class="shop-container-slider">
    <div class="shops-wrapper">
        <h3>Al onze shops</h3>
        <div class="columned-sites">
            {% for site in sites %}
                <a href="{{ site.domain }}">
                    {{ site.domain }}
                </a>
            {% endfor %}
        </div>
    </div>
</nav>

<section class="container mx-auto py-2 px-4 lg:px-0">
    {% set _logo = Image(theme.theme_mod('custom_logo')) %}
    <a href="/">
        <img src="{{ _logo.src }}" alt="{{ _logo.alt?? 'LOGO ' ~ site.name }}" class="custom_logo" id="logo_{{ post.ID }}" />
    </a>
</section>


<section class="frontpage-hero {{ fn('is_front_page')? 'home': 'not_home' }}" style="background-image: url('{{ Image(theme_option('hero_image')).src('large') }}')">
    <div class="container mx-auto">
        {% include 'partials/home/hero-product.twig' with { product: featured, title: theme_option('title') } only %}
    </div>
    <aside class="usp-banner">
        <small><i class="fas fa-truck"></i> {{ theme.theme_mod('shipping_fee') }}</small>
        <small><i class="fas fa-dolly"></i> {{ theme.theme_mod('delivery_time')}} </small>
    </aside>
</section>


<section class="container mx-auto py-8 flex">
    {% include 'partials/blocks/kiyoh.twig' %}
    <nav class="lg:w-3/5 shop-container">
        <div class="shops-wrapper">
            <h3>Al onze shops</h3>
            <div class="flex flex-col">
                {% for site in sites %}
                    <a href="{{ site.domain }}">
                        {{ site.domain }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>
</section>

<script>
    document.querySelector('.js-menu-open').addEventListener('click', function (ev) {
        document.querySelector('.shop-container-slider').classList.toggle('active');
    })
    document.querySelector('.shop-container-slider').addEventListener('click', function (ev) {
        if (ev.target !== this) {
            return;
        }

        document.querySelector('.shop-container-slider').classList.remove('active');
    })
</script>
