<header class="header" role="banner">
    <div class="container mx-auto">
        <button role="btn" class="js-menu-open lg:bulbed hidden">
            <i class="fas fa-store"></i>
        </button>

        {% set _logo = Image(theme.theme_mod('custom_logo')) %}
        <a href="/">
            <img src="{{ _logo.src }}" alt="{{ _logo.alt?? 'LOGO ' ~ site.name }}" class="custom_logo" id="logo_{{ post.ID }}" />
        </a>

        <nav class="top-navigation" role="navigation">
            <a href="{{ fn('get_option', 'woocommerce_myaccount_page_id') }}" class="top-nav-item lg:bulbed btn shaded animated"><i class="fas fa-user"></i></a>

            <a href="{{ fn('wc_get_cart_url') }}" class="top-nav-item lg:bulbed btn shaded animated"><i class="fas fa-shopping-basket"></i></a>
        </nav>
    </div>
</header>
